<h1>Crea una nueva tienda para tu producto</h1>
<hr />
<form action="/store/new/{{ _id }}" method="POST">
  <p>Nombre del producto: {{ name }}</p>
  <br /><br />

  <p>Válido solo para la CDMX</p>
  <label for="storeTitle">Nombre de la tienda</label>
  <input required type="text" name="storeTitle" />
  <label for="storeColonia">Colonia</label>
  <input type="text" name="storeColonia" />
  <label for="storeMunicipality">Alcaldía</label>
  <input type="text" name="storeMunicipality" />
  <br /><br />
  <input
    hidden
    value="-99.1814706159574"
    id="{{ _id }}long"
    type="text"
    name="long"
  />
  <input
    hidden
    value="19.412357358557642"
    id="{{ _id }}lat"
    type="text"
    name="lat"
  />
  <button type="submit">Crear tienda</button>
</form>
<br /><br />
<p>NOTA: arrastra el marcador a la ubicación de la tienda</p>
<p>
  IMPORTANTE: tu tienda debe ser autorizada por un administrador antes de
  aparecer en la pagina
</p>
<br /><br />

<div id="map" style="width: 800px; height: 400px"></div>
<script>
  mapboxgl.accessToken =
    "pk.eyJ1IjoiZWR2aWNhdHkiLCJhIjoiY2tla2tkaHZ6MDg3ODJxbXN2aW9ldnVmbCJ9.jzrSUZ18F2b4FErS8pHTGA";
  var map = new mapboxgl.Map({
    container: "map",
    style: "mapbox://styles/mapbox/streets-v11",
    center: [-99.1814706159574, 19.412357358557642],
    zoom: 15,
  });
  map.addControl(new mapboxgl.NavigationControl());

  window.onload = () => {
    var marker = new mapboxgl.Marker({
      draggable: true,
    })
      .setLngLat([-99.1814706159574, 19.412357358557642])
      .setPopup(
        new mapboxgl.Popup({ offset: 25 }).setHTML(
          "<h6>" +
            `{{this.storeName}}` +
            "</h6><p>" +
            "Precio PROFECO: $ {{this.priceProfeco}}" +
            "</p><p>" +
            "Precio USUARIOS: $ {{this.average}}" +
            "</p>"
        )
      )
      .addTo(map);

    function onDragEnd() {
      var lngLat = marker.getLngLat();

      console.log(lngLat);
      let long = document.getElementById("{{ _id }}long");
      long.value = lngLat.lng;
      let lat = document.getElementById("{{ _id }}lat");
      lat.value = lngLat.lat;
    }

    marker.on("dragend", onDragEnd);
  };
</script>
