<h2>Detalle {{products.[0].type}}</h2>
<hr>

<div class="card mb-3">
  <img src="{{products.[0].imageUrl}}" class="card-img-top" alt="{{products.[0].name}}">
  <div class="card-body">
    <h5 class="card-title">{{products.name}}</h5>
    <ul class="stats">
      <li>promedio $/kg:{{stats.averageOfAveragesProfeco}}</li>
      <br><br>
      <li>Min $/kg:{{stats.minOfMinsProfeco}}</li>
      <li>Max $/kg:{{stats.maxOfMaxsProfeco}}</li>
    </ul>
  </div>
</div>

<div class="container">
  <div class="row">
    {{#each products}}
    <div class="col-sm-4">
      <div class="card" style="width: 20rem">
        <div class="card-body">
          <h5 class="card-title"><a href="/detail/{{this._id}}">{{this.name}}</a></h5>
          <h6 class="card-subtitle mb-2 text-muted"><a href="/type/{{this.type}}">{{this.type}}</a></h6>
          <h6 class="card-subtitle mb-2 text-muted"><a href="/type/{{this.category}}">{{this.category}}</a></h6>
          <ul class="stats">
            <li>Promedio $/kg:{{../stats.averageProfecoFixed}}</li>
            <br><br>
            <li>Max $/kg:{{../stats.maxProfeco}}</li>
            <li>Min $/kg:{{../stats.minProfeco}}</li>
          </ul>
          <div class="link-div">
            <a href="/edit/{{this._id}}" class="card-link">Editar</a>
            <a href="/delete/{{this._id}}" class="card-link">Borrar</a>
          </div>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>