<h2>Detalle:</h2>

<div class="card mb-3">
  <img
    src="{{ product.imageUrl }}"
    class="card-img-top"
    alt="{{ product.name }}"
  />
  <div class="card-body">
    <h5 class="card-title">{{ product.name }}</h5>
    <ul class="stats">
      <li>promedio $/kg:{{ stats.averageProfeco }}</li>
      <li>maximo $/kg:{{ stats.maxProfeco }}</li>
      <li>minimo $/kg:{{ stats.minProfeco }}</li>
    </ul>
  </div>
</div>

<button class="newStore">
  <a href="/store/new/{{ product._id }}">Nueva tienda</a>
</button>
{{#each product.stores}}
{{#if this.verified}}
<div class="table-container">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col" colspan="2">
          <a
            onclick="centerMe({{ this.locations.coordinates.long }}, {{
              this.locations.coordinates.lat
            }})"
            id="modalAnchor"
            data-toggle="modal"
            data-target="#modalMap"
            >{{ this.storeName }}</a
          >
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Precio Profeco $/kg:<br />{{ this.priceProfeco }}</td>
        <td>Precio Usuario $/kg:<br />{{ this.average }}</td>
      </tr>
    </tbody>
  </table>
  <form
    action="/updatePriceUser/{{ this._id }}/{{ ../product._id }}"
    method="post"
    class=".buttonLoading"
  >
    <label for="score">Actualiza el precio $/kg:</label>
    <input required type="number" name="score" />
    <button onclick="loading()" type="submit">Poner mi precio</button>
  </form>
  {{#if ../admin}}
  <button>
    <a href="/store/unverify/{{ this._id }}">Quitar verificacion</a>
  </button>
  <br /><br />
  {{/if}}
</div>
{{/if}}
{{/each}}

<div
  class="modal"
  id="modalMap"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3>Mapa</h3>
      </div>
      <div
        id="map"
        style="width: 100%; height: 300px; margin-bottom: 30px"
        class="modal-body"
      >
        <!-- <div
          id="map"
          style="width: 100%; height: 300px; margin-bottom: 30px"
        ></div> -->
      </div>
    </div>
  </div>
</div>

<script>
  //    $('#modalMap').on('shown.bs.modal', function () {
  //    $('#modalAnchor').trigger('focus')
  //  })
  //  $('#modalMap').on('shown.bs.modal', function () { // chooseLocation is the id of the modal.
  //    map.invalidateSize();
  // });
     mapboxgl.accessToken =
       "pk.eyJ1IjoiZWR2aWNhdHkiLCJhIjoiY2tla2tkaHZ6MDg3ODJxbXN2aW9ldnVmbCJ9.jzrSUZ18F2b4FErS8pHTGA";
     var map = new mapboxgl.Map({
       container: "map",
       style: "mapbox://styles/mapbox/streets-v11",
       center: [-99.082587, 19.385063],
       zoom: 15,
     });
     map.addControl(new mapboxgl.NavigationControl());

       window.onload = () => {
       {{#each product.stores}}
       {{#if this.verified}}
       new mapboxgl.Marker()
       .setLngLat([{{this.locations.coordinates.long}}, {{this.locations.coordinates.lat}}])
       .setPopup(new mapboxgl.Popup({ offset: 25 })
       .setHTML('<h6>' + `{{this.storeName}}` + '</h6><p>' + "Precio PROFECO $/kg: $ {{this.priceProfeco}}" + '</p><p>' + "Precio USUARIOS $/kg: $ {{this.average}}" + '</p>'))
       .addTo(map)
       {{/if}}

       {{/each}}
     }

     function centerMe(long, lat){
       map.flyTo({
        center: [
         long,
         lat
        ],
         essential: true

     })}
</script>
