<<<<<<< HEAD
<h2>Detalle:</h2>

<div class="card mb-3">
  <img src="{{product.imageUrl}}" class="card-img-top" alt="{{product.name}}">
  <div class="card-body">
    <h5 class="card-title">{{product.name}}</h5>
      <ul class="stats">
        <li>promedio:{{stats.averageProfeco}}</li>
        <li>maximo:{{stats.maxProfeco}}</li>
        <li>minimo:{{stats.minProfeco}}</li>
      </ul> 
  </div>
</div>

<button><a href="/store/new/{{product._id}}">Nueva tienda</a></button>
{{#each product.stores}}
  <div class="table-container">
    <table class="table table-hover">
      <thead>
        <tr>
        <th scope="col" colspan="2">{{this.storeName}}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Precio Profeco:<br>{{this.priceProfeco}}</td>
          <td>Precio Usuario:<br>{{this.average}}</td>
        </tr>
      </tbody>
    </table>
    <form action="/updatePriceUser/{{../_id}}/{{this.storeName}}" method="post">
      <label for="score">Actualiza el precio:</label>
      <input type="number" name="score">
      <button type="submit">Ir</button>
    </form>
  </div>
{{/each}}

{{!-- Mapbox map --}}
<div id='map' style='width: 80%; height: 300px;'></div>
{{!-- Mapbox script --}}
=======
<h2>Detalle: {{ name }}</h2>

<h2>{{ product.name }}</h2>

<ul>
  <li>
    promedio: <span>{{ stats.averageProfeco }}</span>
  </li>
  <li>
    maximo: <span>{{ stats.maxProfeco }}</span>
  </li>
  <li>
    minimo: <span>{{ stats.minProfeco }}</span>
  </li>
</ul>

{{#each product.stores}}
{{#if this.verified}}
<ul>
  <a href="#map">
    <li
      onclick="centerMe({{ this.locations.coordinates.long }}, {{
        this.locations.coordinates.lat
      }})"
    >
      {{ this.storeName }}
    </li>
  </a>

  <li>precio profeco{{ this.priceProfeco }}</li>
  <li>promedio usuarios: {{ this.average }}</li>
  <form
    action="/updatePriceUser/{{ this._id }}/{{../product._id}}"
    method="post"
  >
    <input type="number" name="score" />
    <button type="submit">Ir</button>
  </form>
</ul>
{{#if ../admin}}
<button>
  <a href="/store/unverify/{{ this._id }}">Quitar Verificacion</a>
</button>
{{/if}}
{{/if}}
{{/each}}
<a href="/store/new/{{ product._id }}" class="card-link">Nueva tienda</a>

<div id="map" style="width: 800px; height: 400px"></div>
>>>>>>> develop
<script>
  mapboxgl.accessToken =
    "pk.eyJ1IjoiZWR2aWNhdHkiLCJhIjoiY2tla2tkaHZ6MDg3ODJxbXN2aW9ldnVmbCJ9.jzrSUZ18F2b4FErS8pHTGA";
  var map = new mapboxgl.Map({
    container: "map",
    style: "mapbox://styles/mapbox/streets-v11",
    center: [-99.082587, 19.385063],
    zoom: 15,
  });
  map.addControl(new mapboxgl.NavigationControl());

    window.onload = () => {
    {{#each product.stores}}
    {{#if this.verified}}
    new mapboxgl.Marker()
    .setLngLat([{{this.locations.coordinates.long}}, {{this.locations.coordinates.lat}}])
    .setPopup(new mapboxgl.Popup({ offset: 25 })
    .setHTML('<h6>' + `{{this.storeName}}` + '</h6><p>' + "Precio PROFECO: $ {{this.priceProfeco}}" + '</p><p>' + "Precio USUARIOS: $ {{this.average}}" + '</p>'))
    .addTo(map)
    {{/if}}

    {{/each}}
    // Center the map on the coordinates of any clicked symbol from the 'symbols' layer.


<<<<<<< HEAD
</script>
=======
  }

  function centerMe(long, lat){
    map.flyTo({
     center: [
      long,
      lat
     ],
      essential: true // this animation is considered essential with respect to prefers-reduced-motion

  })}
</script>
>>>>>>> develop
