<h2>Detalle:</h2>

<div class="card mb-3">
  <img src="{{product.imageUrl}}" class="card-img-top" alt="{{product.name}}">
  <div class="card-body">
    <h5 class="card-title">{{product.name}}</h5>
      <ul class="stats">
        <li>promedio:{{stats.averageProfeco}}</li>
        <li>maximo:{{stats.maxProfeco}}</li>
        <li>minimo:{{stats.minProfeco}}</li>
      </ul> 
  </div>
</div>

{{#each product.stores}}
  <table class="table" style="text-align: center">
    <thead>
      <tr>
      <th scope="col" colspan="2">{{this.storeName}}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Precio Profeco:<br>{{this.priceProfeco}}</td>
        <td>Precio Usuario:<br>{{this.average}}</td>
      </tr>
    </tbody>
  </table>
  <form action="/updatePriceUser/{{../_id}}/{{this.storeName}}" method="post">
    <label for="score">Actualiza el precio:</label>
    <input type="number" name="score">
    <button type="submit">Ir</button>
  </form>
{{/each}}
<a href="/store/new/{{product._id}}" class="card-link">Nueva tienda</a>

{{!-- Mapbox map --}}
<div id='map' style='width: 800px; height: 400px;'></div>
{{!-- Mapbox script --}}
<script>
  mapboxgl.accessToken = 'pk.eyJ1IjoiZWR2aWNhdHkiLCJhIjoiY2tla2tkaHZ6MDg3ODJxbXN2aW9ldnVmbCJ9.jzrSUZ18F2b4FErS8pHTGA';
  var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/streets-v11'
  });
  map.addControl(new mapboxgl.NavigationControl());

  var marker = new mapboxgl.Marker()
    .setLngLat([-99.082587, 19.385063])
    .addTo(map);

</script>