<h2>Detalle: {{ name }}</h2>

<h2>{{ product.name }}</h2>

<ul>
  <li>
    promedio: <span>{{ stats.averageProfeco }}</span>
  </li>
  <li>
    maximo: <span>{{ stats.maxProfeco }}</span>
  </li>
  <li>
    minimo: <span>{{ stats.minProfeco }}</span>
  </li>
</ul>

{{#each product.stores}}
{{#if this.verified}}
<ul>
  <a href="#map">
    <li
      onclick="centerMe({{ this.locations.coordinates.long }}, {{
        this.locations.coordinates.lat
      }})"
    >
      {{ this.storeName }}
    </li>
  </a>

  <li>precio profeco{{ this.priceProfeco }}</li>
  <li>promedio usuarios: {{ this.average }}</li>
  <form
    action="/updatePriceUser/{{ this._id }}/{{../product._id}}"
    method="post"
  >
    <input type="number" name="score" />
    <button type="submit">Ir</button>
  </form>
</ul>
{{#if ../admin}}
<button>
  <a href="/store/unverify/{{ this._id }}">Quitar Verificacion</a>
</button>
{{/if}}
{{/if}}
{{/each}}
<a href="/store/new/{{ product._id }}" class="card-link">Nueva tienda</a>

<div id="map" style="width: 800px; height: 400px"></div>
<pre id="info"></pre>
<script>
    mapboxgl.accessToken =
      "pk.eyJ1IjoiZWR2aWNhdHkiLCJhIjoiY2tla2tkaHZ6MDg3ODJxbXN2aW9ldnVmbCJ9.jzrSUZ18F2b4FErS8pHTGA";
    var map = new mapboxgl.Map({
      container: "map",
      style: "mapbox://styles/mapbox/streets-v11",
      center: [-99.082587, 19.385063],
      zoom: 15,
    });
    map.addControl(new mapboxgl.NavigationControl());

      window.onload = () => {
      {{#each product.stores}}
      {{#if this.verified}}
      new mapboxgl.Marker()
      .setLngLat([{{this.locations.coordinates.long}}, {{this.locations.coordinates.lat}}])
      .setPopup(new mapboxgl.Popup({ offset: 25 })
      .setHTML('<h6>' + `{{this.storeName}}` + '</h6><p>' + "Precio PROFECO: $ {{this.priceProfeco}}" + '</p><p>' + "Precio USUARIOS: $ {{this.average}}" + '</p>'))
      .addTo(map)
      {{/if}}

      {{/each}}
      // Center the map on the coordinates of any clicked symbol from the 'symbols' layer.


    }

    function centerMe(long, lat){
      map.flyTo({
       center: [
        long,
        lat
       ],
        essential: true // this animation is considered essential with respect to prefers-reduced-motion

    })}



    map.on('click', function (e) {

  document.getElementById('info').innerHTML =
  // e.point is the x, y coordinates of the mousemove event relative
  // to the top-left corner of the map
  JSON.stringify(e.point) +
  '<br />' +
  // e.lngLat is the longitude, latitude geographical position of the event
  JSON.stringify(e.lngLat.wrap());

  new mapboxgl.Marker()
      .setLngLat([e.lngLat.lng, e.lngLat.lat])
  }).addTo(map);
</script>
