<h1>Busca información de todos los abarrotes</h1>
<hr>
<a href="/new">Create a new product</a>
{{#each allProducts}}
<div class="product-card">
  <ul>
    <a href="/detail/{{this._id}}">
      <li>{{this.name}}</li>
    </a>

    <a href="/type/{{this.type}}">
      <li>{{this.type}}</li>
    </a>

    <li>{{this.category}}</li>
    {{#each stores}}
    <li>{{this.storeName}}</li>
    <li>{{this.priceProfeco}}</li>
    <li>{{this.priceUser.[0].score}}</li>
    {{/each}}
  </ul>
  {{#if ../admin}}
  <a href="/edit/{{this._id}}">Edit Product</a>
  <a href="/delete/{{this._id}}">Delete Product</a>
  {{/if}}

</div>
{{/each}}